/* This file is used in board.php */

@import url("header.css");

/* ---------------- PAGE ---------------- */
.page-wrapper {
  display: block;
  max-width: var(--main-page-width);
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.status-indicators {
  width: 100%;
  height: 2em;
  margin-top: 0.3em;
  margin-bottom: 3.7em;
}

.current-page-indicator {
  float: left;
  margin-left: 1em;
}
.current-page-indicator a {
  color: var(--main-text-color);
  font-size: 1.2em;
  text-transform: capitalize;
}

.current-subpage-indicator {
  position: relative;
  display: flex;
  justify-content: flex-start;
  float: right;
  margin-right: 2em;
}

.current-subpage-indicator p {
  margin: 0;
  color: var(--main-text-highlight-color);
}

.current-subpage-indicator .page-button {
  position: relative;

  margin-right: 0.1em;
  margin-top: 0.5em;
  padding: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;

  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  border-radius: var(--button-border-radius);

  cursor: pointer;
  background-color: var(--default-button);
}

.current-subpage-indicator .page-button:hover {
  background-color: var(--default-button-hover);
  transition-duration: var(--global-duration-time);
}

.current-subpage-indicator .page-button#current-page {
  cursor: default;
  background-color: var(--default-button-active);
}

.status-main {
  width: 100%;
  height: 100%;
}

.status-sub {
  float: left;
  margin-left: 1em;
  width: 100%;
  height: 100%;
}

.subforum-buttons .subforum-button{
  float: left;
  margin-right: 0.3em;
  margin-top: 0.5em;
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  border-radius: var(--button-border-radius);
  background-color: var(--sub-nav-color);
}

.subforum-buttons .subforum-button:hover{
  background-color: var(--default-button-hover);
  transition-duration: var(--global-duration-time);
}

.subforum-buttons .subforum-button#active{
  background-color: var(--default-button-active);
}

.subforum-buttons .subforum-button a{
  color: var(--main-text-highlight-color);
}

.main-box {
  height: auto;
  width: 100%;
}

.main-box-title {
  position: relative;
  top: 0;
  height: 2em;
  width: 100%;
  background-color: var(--main-nav-element-active-color);
  border-radius: 3px 3px 0 0;
  z-index: 1;
}

.main-box-title a {
  text-transform: capitalize;
  margin: 0.3em;
  margin-left: 0;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.create-thread-button {
  position: absolute;
  display: flex;
  height: 85%;
  width: 7.5em;
  right: -3.65em;
  top: 50%; bottom: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
  justify-content: center;

  border-radius: var(--button-border-radius);
  border:1px solid black;
  background-color: var(--attention-button-default);
}

.create-thread-button:hover {
  cursor: pointer;
}

.create-thread-button p{
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: var(--main-text-highlight-color);
}

.create-thread-window {
  visibility: visible;
	width: 40em;
	height: 20em;

	background-color: var(--main-bg-color);
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--border-color);

	position: absolute;
	top: 0;
	bottom: 20%;
	left: 0;
	right: 0;

  margin: auto;

  transition-duration: var(--global-duration-time);
  opacity: 0;
  z-index: -100;
}

.create-thread-window .content {
  position: relative;
  padding: 2em;
  top: 45%; left: 50%;
  transform: translate(-50%, -50%);
}

.create-thread-window .content p {
  margin: 0;
  color: white;
}

.create-thread-window .content input[type=text] {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--border-color);

  margin-bottom: 1em;

  color: var(--main-text-color);
  background-color: var(--sub-nav-color);
}

.create-thread-window .content textarea {
  width: 100%;
  height: 10em;
  border-radius: 2px;
  border: 1px solid var(--border-color);

  color: var(--main-text-color);
  background-color: var(--sub-nav-color);
}

.create-thread-window .content button {
  position: relative;
  float: right;
  width: 5em;
  height: 2.5em;

  margin-left: 1em;
  margin-top: 1em;

  cursor: pointer;
  color: var(--main-text-highlight-color);
  border-radius: var(--button-border-radius);
  border: 1px solid var(--border-color);
}

.create-thread-window .content button[name=submit] {
  background: var(--attention-button-default);
}
.create-thread-window .content button[name=cancel] {
  background-color: var(--attention-button-cancel);
}

/* ---------------- THREAD BOXES ---------------- */
.main-box-content {
  height: auto;
  width: 100%;
  margin-bottom: 2em;
  background-color: var(--sub-nav-color);
  box-shadow: 5px 5px 8px black;
  border-radius: 3px;
}

.main-box-content-element {
  display: block;
  width: 100%;
  height: 5em;
}

.main-box-content-element:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.main-box-content-element-main {
  position: relative;
  float: left;
  width: 85%;
  height: 100%;
  box-sizing: border-box;

  overflow: hidden;
}

.main-box-content-element-main:after {
  position: relative;
  content: "";
  display: block;
  margin: auto 0;
  top: 10%;
  height: 80%;
  border-right: 1px solid var(--border-color);
}

.main-box-content-element-main #container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
  z-index: 1;
}

#likes-container {
  position: absolute;
  vertical-align: middle;
  width: auto;
  height: 2em;
  top: 0;
  bottom: 1.8em;
  left: 0.6em;
  margin: auto;
  z-index: 2;
}

#likes-container .like-button, .dislike-button {
  display: flex;
  box-sizing: border-box;
  margin: 0.2em;
  padding: 0.1em;

  border-radius: var(--button-border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--default-button);

  cursor: pointer;
}

#likes-container .like-button:hover, .dislike-button:hover {
  background-color: var(--default-button-hover);
  transition-duration: var(--global-duration-time);
}

#likes-container .like-button#active, .dislike-button#active {
  background-color: var(--default-button-active);
}

#likes-container img {
  width: 15px;
  height: auto;
}

.main-box-content-element-main .latest-reply-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-box-content-element-main .latest-reply-container img {
  position: relative;
  left: 3.9em;
  top: 0.1em;
  width: 20px;
  height: auto;
}

.main-box-content-element-main .title {
  position: relative;
  left: 2em;
  font-size: 1.4em;
  color: var(--main-text-highlight-color);
}

.main-box-content-element-main .latest-reply {
  position: relative;
  left: 4em;
  font-size: 1em;
  color: var(--main-text-color);
}

.amount-of-replies{
  position: relative;
  float: right;
  top: 50%; bottom: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-right: 1em;
  color: var(--main-text-color);
}

.amount-of-replies p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

.amount-of-replies p#number{
  font-size: 1em;
}

.amount-of-likes{
  position: relative;
  float: right;
  top: 50%; bottom: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: var(--main-text-color);
}

.amount-of-likes p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

.amount-of-likes p#number{
  font-size: 1em;
}

.main-box-content-element-status {
  position: relative;
  float: right;
  width: 15%;
  height: 100%;
  box-sizing: border-box;
}

.main-box-content-element-status #container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
}

.main-box-content-element-status p{
  margin: 0;
}

.main-box-content-element-status a, .main-box-content-element-status p{
  font-size: 0.9em;
  margin: 0.2em;
  margin-left: 1.5em;
  color: var(--main-text-color);
}
