/* This file is used in the styling of the navbar and header */

@import url("master.css");

/* ---------------- HEADER ---------------- */

header {
  position: relative;
  max-width: var(--main-page-width);
  margin-left: auto;
  margin-right: auto;
}

header img{
  height: 100px;
}



#search-box {
  float: right;
  position: relative;
  padding-top: 3em;
  right: -20px;
}

.search-wrapper {
  float: right;
  display: flex;
}

.search-wrapper img {
  position: relative;
  width: 20px;
  height: auto;
  right: 25px;
  top: 2px;
}

/* ---------------- NAVIGATION ---------------- */

nav {
  top: 0;
  position: sticky;
  z-index: 99;
}

.navbar {
  display: block;
  max-width: var(--main-page-width);
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  width: 100%;
  padding: 0;
}

nav li {
  display: inline-block;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main-bg-color);
}

.main-nav-left {
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav-left a {
 color: var(--main-text-color);
 padding: 0 20px;
}

.main-nav-right {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 15px;
}

.main-nav-right a {
 color: var(--main-text-color);
 padding-left: 20px;
}

.main-nav .nav-element {
  height: 45px;
  line-height: 45px;
  border-radius: 1px 1px 0 0;
}

.main-nav-right .nav-element img {
  position: relative;
  top: 11px;
  left: 20px;
  width: 20px;
  height: auto;
}

.main-nav .nav-element:hover a {
  color: var(--main-text-highlight-color);
}

.main-nav .nav-element#active, .main-nav .nav-element#active a {
  background-color: var(--sub-nav-color);
  color: var(--main-nav-element-active-color);
}

.main-nav .nav-element#active a {
  opacity: 0.7;
}

.sub-nav {
  position: relative;
  top: -19px;
  width: 100%;
  height: 35px;
  border-radius: 0 1px 1px 1px;
  box-shadow: 5px 5px 8px black;
  background-color: var(--sub-nav-color);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 300;
}

.sub-nav a {
  color: var(--main-text-color);
  padding: 0 20px;
}

.sub-nav a:hover {
  text-decoration: underline;
}

.sub-nav .nav-element {
  display: block;
  height: 35px;
  line-height: 35px;
  float: left;
}

.sub-nav .nav-element#active a{
  color: var(--main-nav-element-active-color);
}
