/* This file is used in index.php */

@import url("master.css");

/* ---------------- PAGE ---------------- */
.page-wrapper {
  display: block;
  max-width: var(--main-page-width);
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.status-indicators {
  width: 100%;
  height: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.current-page-indicator {
  float: left;
  margin-left: 1em;
}
.current-page-indicator a {
  color: var(--main-text-color);
  font-size: 1.2em;
}

.page-wrapper-left {
  float: left;
  height: auto;
  width: 60%;
}

.page-left-content {
  height: auto;
  width: 100%;
  margin-bottom: 2em;
  background-color: var(--sub-nav-color);
  box-shadow: 5px 5px 8px black;
  border-radius: 3px;
}

.page-left-content-title, .page-right-content-title {
  top: 0;
  height: 2em;
  width: 100%;
  background-color: var(--main-nav-element-active-color);
  border-radius: 3px 3px 0 0;
}
.page-right-content-title {
  opacity: 0.5;
}

.page-left-content-title a, .page-right-content-title a {
  text-transform: capitalize;
  margin: 0.3em;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.page-wrapper-right {
  float: right;
  height: 100px;
  width: 38%;
}

.page-right-content {
  height: 300px;
  width: 100%;
  margin-bottom: 2em;
  background-color: var(--sub-nav-color);
  box-shadow: 5px 5px 8px black;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
}

.questionOfTheWeek {
  height: auto;
}

.recentActivity {
  height: auto;
}

/* ---------------- SUBFORUM BOXES ---------------- */

.main-box-content {
  height: auto;
  width: 100%;
  margin-bottom: 2em;
  background-color: var(--sub-nav-color);
  box-shadow: 5px 5px 8px black;
  border-radius: 3px;
}

.main-box-content-element {
  display: block;
  width: 100%;
  height: 4em;
}

.main-box-content-element:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 95%;
    border-bottom: 1px solid var(--border-color);
}

.main-box-content-element-main {
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
  box-sizing: border-box;

  overflow: hidden;
}

.main-box-content-element-main:after {
  position: relative;
  content: "";
  display: block;
  margin: auto 0;
  top: 10%;
  height: 80%;
  border-right: 1px solid var(--border-color);
}

.main-box-content-element-main #container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
  z-index: 1;
}

.main-box-content-element-main .title {
  position: relative;
  left: 1em;
  font-size: 1.5em;
  color: var(--main-text-highlight-color);
}

.main-box-content-element-main .latest-reply {
  position: relative;
  left: 3em;
  font-size: 1.5em;
  color: var(--main-text-color);
}

.main-box-content-element-status {
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
}

.main-box-content-element-status #container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
  color: var(--main-text-color);
  padding-bottom: 0.3em;
  padding-left: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-box-content-element-status #container #latest-thread-container {
  margin: 0.5em;
  height: 1em;
}

.main-box-content-element-status #container #latest-thread-container p {
  margin: 0;
  font-size: 0.9em;
}

.main-box-content-element-status #container #latest-thread-container #latest-thread-img {
  position: relative;
  float: left;
  width: 23px;
  height: auto;
  bottom: 4.4px;
}

#answer-container {
  position: relative;
  padding-top: 1em;
}

.main-box-content-element-status #container .title {
  margin: 0;
}

.main-box-content-element-status p{
  margin: 0;
}

.main-box-content-element-status a, .main-box-content-element-status p{
  font-size: 1em;
  margin: 0.2em;
  margin-left: 1em;
  color: var(--main-text-color);
}

.amount-of-threads{
  position: relative;
  float: right;
  top: 50%; bottom: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: var(--main-text-color);
}

.amount-of-threads p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

.amount-of-threads p#number{
  font-size: 1em;
}

.information-box {
  color: var(--main-text-color);
  padding: 0.5em;
}
