/* This file is used in the styling of the navbar and header */

@import url("master.css");


.h1{
  font-size:30px;
  color:var(--main-nav-element-active-color);
}

.log_button{
  font-size: 20px;
  font-weight: 560;
  height: 50px;
  width: 440px;
  border-radius: 2px;
}

.loginForm{
display: inline-block;
background-color:var(--sub-nav-color);
box-shadow: 5px 5px 10px black;
width: 100%;
height: 100%;
max-width: 700px;
max-height: 450px;
padding:30px;
}

.register_link{
font-size:20px;
font-weight:560px;
color:var(--account-info-text-color);
}

.register_link:hover{
color:#FFC40C;
}

.section{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--main-page-width);
  text-align:center;
  margin-bottom: 100px;
  border-radius: 2px;
}


.user_input, .passw_input {
  font-size: 20px;
  font-weight: 560;
  height: 50px;
  width: 430px;
  padding-left:5px;
  border-radius: 2px;
}




