/* This file is used to hold all variables for all pages.
   Include this file on whatever css file you create for whatever page (see header.css). */

:root {
 /* MAIN */
 --main-bg-color: #181a1d;
 --main-text-color: #cccccc;
 --main-text-highlight-color: #ffffff;
 --main-text-inactive-color: black;
 --main-page-width: 1500px;
 /* NAVBAR */
 --main-nav-element-active-color: #FFC40C; /* mikado yello, baby */
 --sub-nav-color: #323232;
 /* BUTTONS */
 --default-button: #323232;
 --default-button-hover: #525252;
 --default-button-clicked: ;
 --default-button-active: #181a1d;
 --attention-button-default: #49b622;
 --attention-button-cancel: #ed0000;
 --account-info-text-color:white;

 --button-border-radius: 3px;
 /* BORDERS */
 --border-color: #000000;
 /* TRANSITION THINGS */
 --global-duration-time: 0.2s;
}

/*attribute to change page theme*/
[data-theme="light"] {
   /* Main */
  --main-bg-color: rgb(207, 202, 202);
  --main-text-color: rgb(10, 8, 8);
  --main-text-inactive-color: black;
  --main-text-highlight-color: black;
  --account-info-text-color: black;
  --box-shadow:  #FFC40C;
 /* NAVIGATION */
  --sub-nav-color: white;
  /* BUTTONS */
 --default-button: rgb(207, 202, 202);
 --default-button-hover:rgb(184, 181, 181);
 --default-button-active: white;
}

html {
  font-family: "Cantarell", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
}

a {
 text-decoration: none;
}

