/* This file is used in thread.php */

@import url("header.css");

/* ---------------- PAGE ---------------- */
.page-wrapper {
  display: block;
  max-width: var(--main-page-width);
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.status-indicators {
  width: 100%;
  height: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.current-page-indicator {
  float: left;
  margin-left: 1em;
}
.current-page-indicator a {
  color: var(--main-text-color);
}

.current-subpage-indicator {
  float: right;
  margin-right: 1em;
}
.current-subpage-indicator a {
  color: var(--main-text-highlight-color);
}

.main-box {
  height: auto;
  width: 100%;
}

.main-box-title {
  top: 0;
  height: 2em;
  width: 100%;
  background-color: var(--sub-nav-color);
  border-radius: 3px 3px 0 0;
}

.main-box-title a {
  text-transform: capitalize;
  margin: 0.3em;
  color: black;
  font-size: 1.5em;
  font-weight: 500;
}

.main-box-content {
  height: auto;
  width: 100%;
  margin-bottom: 2em;
}

/* ---------------- OP THREAD BOX ---------------- */

.main-box-content-element {
  display: block;
  width: 100%;
  height: 20em;
  background-color: var(--sub-nav-color);
  margin-bottom: 1.5em;
  box-shadow: 5px 5px 8px black;
  border-radius: 3px;
}

.main-box-content-element-main {
  position: relative;
  float: right;
  width: 88%;
  height: 100%;
  box-sizing: border-box;

  overflow: hidden;
}

/* .main-box-content-element-main #container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
} */

.main-box-content-element-main .title {
  position: relative;
  left: 20px;
  font-size: 1.8em;
  color: var(--main-text-highlight-color);
}

.main-box-content-element-main .latest-reply {
  position: relative;
  top: 1.5em;
  left: 20px;
  color: var(--main-text-color);
  font-family: "Cantarell", sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.main-box-content-element-status {
  position: relative;
  float: left;
  width: 12%;
  height: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-color: gray;
  border-width: 0 1px 0 0;
}

.main-box-content-element-status-userImage {
  position: relative;
  float: left;
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  border-style: solid;
  border-color: gray;
  border-width: 0 0 1px 0;
  overflow: hidden;
}

.main-box-content-element-status-userInfo {
  position: relative;
  float: left;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  margin-top: 0.5em;
}

.main-box-content-element-status p{
  margin: 0;
}

.main-box-content-element-status a, .main-box-content-element-status p{
  font-size: 1em;
  margin: 0.2em;
  margin-left: 1em;
  color: var(--main-text-highlight-color);
}

/* ---------------- THREAD COMMENT BOXES ---------------- */

.thread-box-content-element {
  display: block;
  width: 100%;
  height: 15em;
  background-color: var(--sub-nav-color);
  margin-bottom: 1.5em;
  box-shadow: 5px 5px 8px black;
  border-radius: 3px;
}

.thread-box-content-element-main {
  position: relative;
  float: right;
  width: 90%;
  height: 100%;
  /* box-sizing: border-box; */
  /* word-wrap: break-word;  */
  overflow: hidden;
}

.thread-box-content-element-main .title {
  position: relative;
  left: 20px;
  font-size: 2em;
  color: var(--main-text-highlight-color);
}

.thread-box-content-element-main .latest-reply {
  position: relative;
  /* left: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  color: var(--main-text-color);
  font-family: "Cantarell", sans-serif;
}

.thread-box-content-element-status {
  position: relative;
  float: left;
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-color: gray;
  border-width: 0 1px 0 0;
}

.thread-box-content-element-status-userImage {
  position: relative;
  float: left;
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  border-style: solid;
  border-color: gray;
  border-width: 0 0 1px 0;
  overflow: hidden;
}

.thread-box-content-element-status-userInfo {
  position: relative;
  float: left;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: var(--main-text-highlight-color);
}

.thread-box-content-element-status p{
  margin: 0;
}

.thread-box-content-element-status a, .main-box-content-element-status p{
  font-size: 1em;
  margin: 0.2em;
  margin-left: 1em;
  color: var(--main-text-highlight-color);
}

/* ---------------- TEXT BOX ---------------- */

.textBox {
  width: 100%;
  height: 15em;
  background-color: var(--sub-nav-color);
  margin-bottom: 1.5em;
  box-shadow: 5px 5px 8px black;
  color: var(--main-text-highlight-color);
}

.textBox-inner {
  height: 80%;
  border-radius: 3px;
  border-top: 10px solid var(--sub-nav-color);
  border-left: 10px solid var(--sub-nav-color);
  border-right: 10px solid var(--sub-nav-color);
  color: white;
  overflow-y: scroll; /* Ugly as fuck, WTB solution */
  scroll-behavior: smooth;
}

.textBox-menu {
  height: 20%;
}

.textBox-menu-filler {
  position: absolute;
  float: left;
  width: 80%;
}

.textBox-menu-send {
  position: absolute;
  float: right;
  width: 20%;
  color: var(--main-text-highlight-color);
}

textarea {
  margin-left: 1em;
  margin-top: 1em;
  width: 98%;
  height: 12.8em;
  resize: none;
  color: var(--main-text-highlight-color);
  background-color: var(--sub-nav-color);
  /* border-style: ridge; */
  border: 1px solid var(--border-color);
}

input[type=submit] {
  float: right;
  background-color: var(--main-nav-element-active-color); /*Hope you like your mikado yellow*/
  border: none;
  margin-right: 1em;
  cursor: pointer;
  width: 10%;
  height: 3em;
}

.loginBtn {
  float: right;
  color: black;
  background-color: var(--main-nav-element-active-color); /*Hope you like your mikado yellow*/
  border: solid black 1px;
  margin-right: 0.9em;
  cursor: pointer;
  width: 10%;
  height: 2.5em;
}

.loginBtn-text {
  text-align: center;
  padding-top: 10px;
}
