.form{
  display: inline-block;

}

hr {
   border-top:1px solid var(--account-info-text-color);
   margin: 20px;
   margin-left: 0px;
 }

 .profile_text_container ul li{
   font-size: 25px; color:var(--account-info-text-color);
   list-style-type:none;

 }
 .profile_text_container h1{
   color:var(--main-nav-element-active-color);

 }

 .profile_text_container label{
   font-size: 17px; color:var(--account-info-text-color);

 }

 .user_account{
   position:relative;
   width: var(--main-page-width);
   text-align: center;
   margin-bottom: 100px;
   border-radius: 2px;
   height:auto;
   Top:0;
   Bottom:0;
   Left:0;
   Right:0;
   Margin: auto;


 }

.user_account_content{
display: inline-block;
background-color:var(--sub-nav-color);
box-shadow: 5px 5px 10px black;
width: 100%;
height: 550px;
max-width: 1000px;
max-height: 470px;

}

.profile_img_container{
position: absolute;
padding-left:40px;
padding-right:20px;
padding-top:50px;
}

.profile_img{
  background-color: var(--sub-nav-color);
  object-fit: content;
  height: 370px;
  width: 420px;
}

.profile_text_container{
position: relative;
left:480px;
text-align:left;
height:100%;
width: 520px;

}

input[type="file"]{
  color:grey;
  margin-left:5px;
  height: 20px;
  width: 200px;
  border: 1px solid rgb(158, 157, 157);
  background-color: white;
}
input[type="text"]{
  padding-left:5px;
  color:grey;
  margin-left:5px;
  height: 22px;
  width: 200px;
  border: 1px solid rgb(158, 157, 157);
}

.email_subm{
  font-size: 12px;
  width: 55px;
  height:25px;
}

.load_image{
  font-size: 12px;
  width: 55px;
  height:22px;
}

/*toogle switch*/

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin-left:4px;
margin-right:100px;
background-color: #FFC40C;
-webkit-transition: .4s;
transition: .4s;
width:70px;
}

.slider:before {
position: absolute;
content: "";
height: 17px;
width: 20px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 24px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

input:checked + .slider {
background-color: black;;
}

input:focus + .slider {
box-shadow: 0 0 1px var(--main-nav-element-active-color);
}

input:checked + .slider:before {
-webkit-transform: translateX(40px);
-ms-transform: translateX(40px);
transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
